
.assignment-editor-page-sub-header {
    height: 40px;
    width: 100%;
}

.float-end.top {
    height: fit-content;
    display: flex;
    width:fit-content;
}

.published {
    color: green;
    font-size: 16px;
    margin: 8px;
}

.btn.btn-secondary.top-btns {
    font-size: 12px;
    width: auto;
    height: 30px;
    text-wrap: nowrap;
    color: black;
    margin: 2px;
}

.assignment-editor-hr {
    margin: 15px;
}

.main-assignment-content {
    margin: 0 20px;
}

.assignment-name {
    padding: 0;
}

.form-control.assignment-info-fields {
    margin: 10px 0;
}

.row.input-fields {
    display: flex;
    margin: 10px 0;
}

.input-field-name {
    width: 200px;
    display:block;
}

.bottom-btns {
    padding: 0;
}

.bottom-btn {
    margin: 0 5px;
}

.col.input-name {
    flex: 0;
}

.form-control.assignment-info-fields-lower {
    width: 100%;
}

.assignment-input-box {
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
    width:500px;
}

.assignment-inputs-boxed {
    margin: 15px;
}

.boxed-headers {
    font-weight: bold;
}

.assign-inputs-boxed {
    width: 100%;
}

.col.assign-input {
    padding: 0;
}

.assign-input-half {
    margin: 0 25px;
}

.form-control.assign-inputs-boxed-half {
    width: 100%;
}
