.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.kanbas-navigation-wrapper {
    align-items: top;
    width: 80px;
    display:flex;
    flex:0;
    background-color: black;
}

.list-group.kanbas-navigation {
    width: inherit;
    list-style-type: none;
}

.kanbas-navigation-li {
    text-align: center;
    background-color: black;
    width: inherit;
}

.list-group-item.kanbas-navigation {
    background-color: black;
    width: inherit;
    color: white;
    font-size: 14px;
    padding: 5px;    
    display: grid;
}

.kanbas-navigation-labels {
    margin: 5px 0 0;
}

.list-group-item.kanbas-navigation.active {
    background-color: white;
    color:red;
    border:none;
}

.main-content-wrapper {
    margin: 0 25px 0;
    width: 100%;
}

.col.course-navigation-wrapper {
    flex: 0;
}

.list-group.course-navigation {
    list-style-type: none;
    width: inherit;
}

.list-group-item.course-navigation {
    border: none;
    color: red;
    text-wrap: wrap;
    font-size: 16px;
    padding: 8px;
}

.list-group-item.course-navigation.active {
    border: none;
    color: black;
    background-color: white;
    border-left: solid;
}

.course-page-header {
    padding: 10px;
    height: 70px;
}

.breadcrumb-item.course-page-name {
    margin-left: 10px;
    font-size: 20px;
    color: red;
}

.fas.fa-bars.top-left {
    margin-top: 7px;
}

.breadcrumb-item.active.course-page-name {
    font-size: 20px;
}

.float-end.top-btns {
    height: 50px;
    display: flex;
}

.btn.btn-secondary.top-btns {
    font-size: 12px;
    width: auto;
    height: 30px;
    text-wrap: nowrap;
    color: black;
    margin: 2px;
}

.btn.btn-danger.top-btns {
    font-size: 12px;
    width: auto;
    height: 30px;
    text-wrap: nowrap;
    margin: 2px;
}

.form-control.top-btns {
    font-size: 12px;
    width: 100px;
    height: 30px;
    margin: 2px;
}

.top-btns-hr {
    margin-top: 30px;
    margin-bottom: 0;
}

.col.right-btns {
    width: auto;
    flex: 0;
}

.list-group.modules {
    margin: 20px;
}

.list-group-item.module-items {
    font-weight: bold;
    border-left-color: green;
    border-left-width: 3px;
}
.list-group-item.module-items.list-group-item-secondary {
    font-weight: bold;
    border-left-width: 0;
}

.fa.module-icons {
    margin: 2px;
}

.fas.module-icons {
    margin-right: 3px;
}

.module-links {
    text-decoration: none;
    color: red;
}

.course-status {
    font-size: 16px;
}

.btn.right-btns {
    font-size: 12px;
    width: auto;
    color: black;
}

.btn.right-btns.btn-success {
    color: white;
}

.row.right-top-btns {
    display: flex;
    margin-left: 0px;
}

.row.right-btns {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
}

.btn.right-mid-btns {
    font-size: 12px;
    color: black;
    margin: 3px 0;
    width: 200px;
}

.right-headers {
    font-weight: bold;
    font-size: 16px;
}

.right-hrs {
    margin-top: 3px;
    margin-bottom: 3px;
}

.right-module-links {
    text-decoration: none;
    color: red;
    font-size: 14px;
    text-wrap: nowrap;
}

.right-link-content {
    color: gray;
    font-size: 12px;
}

.to-do {
    margin: 10px 0;
}

.right-links {
    margin: 10px
}

.minimized-header {
    background-color: black;
    width: 100%;
    margin: 0;
    height: 70px;
    display: flex;
}

.min-header-content {
    width: 100%;
}

.min-header {
    font-size: 16px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    width: inherit;

}

.min-header-course {
    width: min-content;
}

.min-header-link {
    text-decoration: none;
}

.course-navigation-chevron.float-end.col {
    width: auto;
}